#RewriteEngine On
#RewriteRule ^.*$ index.php 
#
#Options +FollowSymLinks 
#RewriteEngine On 
#
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteRule ^ index.php [L]

#RewriteEngine On
#RewriteRule ^ index.php [L]
RewriteEngine On
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

#RewriteRule \.(css|js|png|jpg|gif)$ - [L]
#RewriteRule ^(index\.php|robots\.txt)$ - [L]